*{
	margin: 0px;
	padding: 0px;
}
body{
	width: 1000px;
	margin: 0 auto;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;

}
.header img{
	height: 77px;
	width: 1000px;
}
.menu{
	background-color: #ddd;
	height:22px;
	line-height: 22px;
}
.menu-date span{
	font-size: 13px;
	text-align: center;
	float: left;
	padding-left: 7px;
}
.menu-text ul{
	list-style: none;
}
.menu-text ul a{ 
	text-decoration: none;
 	
 }
 .menu-text ul li{
 	display: inline;
 	padding-left: 11px;
 	border-right: 1px solid black;
 	padding-right: 11px;
 }
  .menu-text ul li:first-child{
  	padding-left: 45px;
  }
    .menu-text ul li:last-child{
    	border-right: none;
    }
.main-left-menu li{
	background-image: url("../img/category.jpg");
	background-repeat: no-repeat;
	margin-top: 1px;
	padding-left: 33px;


}
.main-left-menu li a{
	color: white;
}
.main-left-search{
	margin-top: 1px;
}

.typical-products{
	margin-top: 15px;
	background-image: url("../img/hot-product.jpg");
	background-repeat: no-repeat;
	height: 425px;
}
