*{
	padding: 0px;
	margin: 0px;

}
body{
	font-family: tahoma;
	font-size: 12px;
}

.wrap{
	width: 1000px;
	margin: auto;
}
/*menu*/
.menu{
	background-image: url('../img/menu.jpg');
	line-height: 24px;
}
.menu-left{
	width: 175px;
	float: left;
	text-align: center;
	font-size: 11px;
}

.menu-right{
	width: 825px;
	float: left;
}
.menu-right ul{
	list-style: none;
}

.menu ul li{
	display: inline;
	border-left: 1px solid red;

}
.menu ul li:first-child{
	border-left-width: 0px;
}
.menu ul li a{
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	color: #dd4e01;
}

/*end menu*/

/*left*/

.left{
	width: 175px;
	float: left;
}
.category ul{
	list-style: none;

}
.category ul li{
	background-image: url('../img/category.jpg');
	line-height: 21px;
	margin-top: 1px;
}

.category ul li a{
	padding-left: 25px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	/*padding: 20px 20px 20px 0px;*/
}

.hotproduct{
	margin-top: 10px;
	background-image: url('../img/hot-product.jpg');
	background-repeat: no-repeat;

}
.hotproduct ul{
	list-style: none;
	padding-top: 40px;
}
.hotproduct ul li{
	padding-top: 5px;

}
.hotproduct ul li:fist-child{
	
}
.hotproduct ul li:last-child{
	padding-bottom: 30px;
}
.hotproduct ul li a{
	border: 1px solid #dddddd;
	padding: 2px;
	display: inline-block;
	background-color: white;
}
/*static*/
.static{
	background-image: url('../img/static.jpg');

}

.static ul{
	list-style: none;
}
.static ul li{
	padding-left: 50px;
}
.static ul li:fist-child{
	padding-top: 5px;

}
.static ul li:last-child{
	padding-bottom: 10px;
}
.static ul li span{
	font-weight: bold;
}
/*end left
*/


/*main*/
.main{
	width: 635px;
	float: left;
}

.slide{
	text-align: center;
}

.slide img{
	margin-top: 10px;
}

.tittle{
	background-image: url('../img/sanphammoi.jpg');  
	margin:5px;
	height: 30px;
}
.tittle h2{
	color: #f55701;
	font-size: 15px;
	padding-left: 70px;
	padding-top: 7px;
}

/*danh mục sp*/
.product-content ul{
	list-style: none;
}
.product-content li{
	width: 150px;
	height: 200px;
	border: 1px solid #e3c54d;
	border-radius: 8px;
	padding-left: 1px;
	margin-left: 4px;
	float: left;
}

.product-images ul li .images{
	text-align: center;
}
.product-content h1{
	text-align: center;
	font-size: 14px;
}
}
.product-content ul li .images img{
	margin-top: 5px;
}
.product-content ul li .product-tittle{
	text-align: center;
}
.product-content ul li .product-tittle a{
	color: black;
	font-size: 14px;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
	text-decoration: none;
	font-weight: bold;
}
.product-content ul li .product-desc{
	font-size: 11px;
	color: #6f6f6f;
	padding: 0px 3px;
	text-align: justify;
}
.product-content ul li .product-link{
	text-align: center;
	margin: 5px 0px;
	color: #dd4e01;
}
.product-content ul li .product-link a{
	text-decoration: none;
	color: #dd4e01;
}
/*tin tức sự kiện*/
.news-content ul{
	list-style: none;
}
.news-content ul li{
	margin-top: 10px;
	position: relative;
}
.news-content ul li .news-tittle a{
	font-weight: bold;
	color: black;
	text-decoration: none;
}
.news-content ul li .news-tittle{
	margin-bottom: 5px;

}
.news-content ul li .news-desc img{
	float: left;
	border: 1px solid #dddddd;
	margin-right: 5px;
}
.news-content ul li .news-link{

	text-align: right;
	padding-right: 5px;
}
.news-content ul li .news-link a{
	text-decoration: none;
	color: #dd4e01;
}
.news-content ul li{
	border-bottom: 1px dotted #dddddd;
}

.news-content ul li:last-child{
	border-bottom-width: 0px;
}
/*end main*/

/*right*/
.right{
	width: 185px;
	float: left;
}

/*Question*/
/*.tittle-question{
	color: #f55701;
	font-size: 15px;
	padding-left: 70px;
	padding-top: 7px;
}*/
.question{
	background-image: url('../img/hoi-dap.jpg');
	width: 186px;
	height: 226px;
	margin-top: 10px;

}
.question ul{
	list-style: none;
	padding-top: 30px;
	padding-left: 23px;
}
.question ul li{
	margin-top: 10px;
	margin-bottom: 10px;
}
.question ul li a{
	text-decoration: none;
	color: black;
}
.question .send-question{
	text-align: center;
}
.question .send-question a{
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: black;
}
/*support*/
.support{
	margin-top: 10px;
	background-image: url('../img/support.jpg');
	height: 275px;
	width: 184px;
}
.support .online ul{
	list-style: none;
	padding-top: 40px;
	text-align: center;
}
.support .online ul li{
	line-height: 25px;
}
.support .contact ul{
	margin-top: 20px;
	list-style: none;
}
.support .contact ul li{
	padding-left: 30px;
	color: #f55701;
}
/*check email*/
.checkmail{
	background-image: url('../img/checkmail.jpg');
	margin-top: 10px;
	height: 179px;
	width: 184px;
}
.checkmail ul{
	list-style: none;
	padding-top: 60px;
	padding-left: 15px;
}
.checkmail .login{
	text-align: center;
	margin-top: 10px;
}

.checkmail ul li{
	margin-bottom: 5px;
}
.checkmail ul li input{
	width: 140px;
}
/*ADS*/
.ads{
	background-image: url('../img/bal-ads.jpg');
	width: 185px;
	height: 146px;
	margin-top: 5px;
}
.ads h3{
	color: #f55701;
	text-align: center;
	padding-top: 10px;
	padding-left: 14px;

}
.ads img{
	padding-left: 7px;
}
/*end right*/
/*menu bottom*/
.menu-bottom{
	background-image: url('../img/menu-bot.jpg');
	background-repeat: no-repeat;
	height: 20px;
	margin: 10px 0px 0px 0px;
	padding: 7px 0px;
}
.menu-bottom ul li{
	list-style: none;
	display: inline;
	border-left: 1px solid #b5930b;
	/*padding-left: 50px;*/

}
.menu-bottom ul{
	text-align: center;
}
.menu-bottom ul li a{
	text-decoration: none;
	padding-left: 10px;
	color: #b5930b;
	font-weight: bold;
	padding-right: 10px;
	line-height: 20px;
}
.menu-bottom ul li:first-child{
	border-left-width: 0px;
}
/*end menu-bottom*/
/*footer*/
.footer{
	
	padding-top: 10px;
	background-color: #e9c946;
	text-align: center;
	color: white;
	padding-bottom: 10px;
}