*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: tahoma;
	font-size: 12px;
	color: white;
}
a{
	text-decoration: none;
}
.wrap{
	width: 1000px;
	margin: auto;
}


header{
	background-image: url('../img/bg-header.jpg');

}

header ul{
	list-style: none;
}

header ul li{
	display: inline;
	padding-right: 10px;
}
header ul li a{
	color: white;
	line-height: 19px;
}
header p{
	float: left;
	line-height: 19px;
	padding-left: 15px;
}
.menu-right{
	float: right;

}

@media all and (max-width: 800px){
	.wrap{
		width: 100%;
	}

	header p{
		width: 300px;
	}

	.menu-right{
		width: 300px;
	}

	.banner img{
		
		width: 100%;
	}
	

	.main-menu
	{
		width: 100%;
		display: none;
	}
}




/*menu- respon*/
.main-menu ul{
	border-bottom: 1px solid #ddd;
	text-align: center;
}
.main-menu ul li{
	display: inline;
	padding-left: 30px;
	padding-right: 15px;
	line-height: 20px;

}
.main-menu ul li a{
	color: black;
	font-size: 15px;

}