*{	margin: 0; 
	padding: 0px;
	box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
}
.container{
    width: 1060px;
    margin: 0 auto;

}
ul, li {
    list-style-type: none;
}
a {
    color: #000;
    text-decoration: none;
    outline: 1;
}
.h-top{
	background-image: url('../img/bg-h-top.jpg'); 
    height: 23px;   
    color: #333;
    font-size: 11px;
    position: relative;
}
.wrap-h-top{
	max-width: 1000px;
	margin: 0 auto;
}
.wrap-h-top ul li {
    height: 100%;
    display: inline;
    vertical-align: top;
    line-height: 23px;
    padding: 0 5px;
    border-left: 1px solid #ccc;
}
.h-top-menu{
	float: left;
    width: 90%;
    text-align: right;
}
.h-top-menu li:first-child{
    border-left-width: 0px;

}
.h-top-menu li a{
    color: white;
    font-size: 15px;
}
.h-top-flag{
	float: right;
    width: 10%;
    padding-top: 4px;
    text-align: center;
}



.h-mid-up{
    background-image: url('../img/bg-h-mid-top.jpg');
    height: 109px;

}
.h-mid-up .logo{
    box-shadow: -10px 10px 70px white,
        10px -10px 70px white,
        -10px -10px 70px white,
        10px 10px 70px white;
    margin-top: 15px;  
    float: left;  
   margin-left: 30px;
}
.wrap-h-mid-up .text{
    float: left;
    width: 40%;
    margin-left: 40px;
}

.wrap-h-mid-up .text p:first-child{
    text-shadow: -1px -1px 1px white,
        1px 1px 1px white,
        1px -1px 1px white,
        -1px 1px 1px white;
    font-weight: bold;
    color: linear-gradient(#da3103,#a2290b);
    /*background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);*/
    margin-top: 30px;
    font-size: 24px;
    color: #da3103;
}
.wrap-h-mid-up .text p:last-child{
    color: #916c0e;
    font-size: 17px;
}
.h-mid-search{
    float: right;
    width: 40%;
    text-align: right;
    padding-right: 33px;
}

.wrap-h-mid-search{
    position: relative;
}

.wrap-h-mid-search img{
    position: absolute;
    right: 6px;
    top: 7px;
}
.wrap-h-mid-search a:last-child{
    color: white;
    right: -9px;
    top: 30px;
    position: absolute;
    font-size: 14px;
    text-decoration: underline;
}


.h-mid-down-menu{
    background-image: url('../img/bg-h-mid-down-menu.jpg');
    height: 46px;
}

.wrap-h-mid-down-menu ul {
    
    text-align: left;
    margin-left: 70px;
    padding-top: 4px;

}
.wrap-h-mid-down-menu ul li{
    display: inline-block;
    line-height: 35px;
    padding-right: 21px;
    position: relative;

}
.wrap-h-mid-down-menu ul li a{
    font-size: 15px;
    color: white;
}

.wrap-h-mid-down-menu ul li ul{
    position: absolute;
    top: 35px;
    left: -124px;
    background-image: url('../img/bg-menu-da-cap-1.jpg');
    height: 28px;
    width: 1000px;
    margin: auto;
}
.wrap-h-mid-down-menu ul li ul li{
    display: inline;
    line-height: 20px;
}
.menu-dacap-1{
    
}
