*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
}
.container{
    width: 1060px;
    margin: 0 auto;

}
ul, li {
    list-style-type: none;
}
a {
    color: #000;
    text-decoration: none;
    outline: 1;
}
.wrap{
	width: 1000px;
	margin: 0 auto;
}

header{
	background-image: url("../img/backg-header.jpg");
	height: 127px;
}
@media all and (max-width: 800px){
	header{
		width: 100%;
	}
	.logo-header img{
		width: 30%;
	}
	.header-text{
		width: 70%;
	}
	.header-text li{
		width: 100%;
	}
}
.logo-header{
	height: 94px;
	opacity: 0.5;
	padding: 15px 15px;
	float: left;
}
.header-text{
	padding-top: 22px;
	text-align: center;
}
.header-text li{
	color: white;
	font-size: 26px;
	text-shadow: 2px 2px 2px blue, -2px -2px 2px blue;
}
.header-text li:nth-child(1){
	text-align: left;
}

/*menu*/
.menu{
	height: 20px;
	margin-top: 2px;
	margin-bottom: 6px;
}
.menu-left{
	background: #ddd;
	width: 20%;
padding-right: 2px;
	font-size: 14px;
	height: 23px;
	text-align: center;
	float: left;

}
.menu-left span{
	line-height: 20px;
}
.menu-right{
	float: right;
}
.menu-right{
	background-image: url("../img/menu-top-backg.jpg");
	width: 80%;
	
	text-align: center;
}
.menu li{
	display: inline-block;
	
}

.menu li a{
	color: white;
	font-size: 17px;
	border-left: 1px solid white;
	padding: 0 10px;
	
}
.menu li:first-child  a{
	border: 0px;
}


/*main*/

.main-left-top li{
	background-image: url(../img/main-left-top-bg.jpg);
	margin-bottom: 1px;
	background-repeat: no-repeat;
	text-align: center;
	background-repeat: round;

}
.main-left-top li a{
	color: white;
	font-size: 18px;
}

/*main-left-center*/
.main-left-center{
	margin-top: 5px;
	background-image: url("../img/hotproduct.jpg");
	height: 523px;
	width: 185px;
}
.main-left-center ul{
	padding-top: 25px;
	padding-left: 5px;
}
.main-left-center li:first-child{
	margin-top: 20px;
}
.main-left-center li{
	margin-bottom: 10px;
	background-image: url("../img/hotproduct-img.jpg");
	background-repeat: no-repeat;
	height: 82px;
	padding-top: 20px;
	padding-left: 77px;
}
.main-left-center li a{
}

.main-left-bottom{
	margin-top: 5px;
}

.main-center-top{
	background-image: url("../img/main-center-banner.jpg");
	height: 376px;
}
.main-center-top ul{
	padding-top: 291px;
	padding-left: 20px;
}
.main-center-top ul li{
	padding-bottom: 5px;
}
.main-center-top ul a{
	font-size: 15px;
}

/*main-center-center-left*/
.main-center-center{
	height: 326px;
	margin-bottom: 10px;
}
.main-center-center-left{
	background-image: url("../img/main-center-hot-tours.jpg");
	float: left;
	height: 326px;
	width: 49.75%;
	margin-right: 0.5%;
	background-repeat: no-repeat;
}
.main-center-center-right{
	background-image: url("../img/main-center-vip-tours.jpg");
	height: 326px;
	width: 49.75%;
	float: left;
	background-repeat: no-repeat;
}
.form ul{
	padding-top: 41px;
	padding-left: 10px;
}
.form ul li img{
	float: left;
	margin-right: 5px;
}
.form ul li a{
	font-size: 15px;
	clear: right;
}
.form ul li{
	clear: both;
	padding-bottom: 31px;
}

.main-center-bottom{
	background-image: url("../img/main-center-popular-tours.jpg");
	
	background-repeat: no-repeat;
}
.main-center-bottom-content ul{
	padding-top: 30px;
}
.form h4{
	color: #9f0000;
}

.menu-bottom{
	background-image: url("../img/menu-top-backg.jpg");
	background-repeat: round;
	
	text-align: center;
}
.menu-bottom li{
	display: inline-block;
	
}

.menu-bottom li a{
	color: white;
	font-size: 17px;
	border-left: 1px solid white;
	padding: 0 10px;
	
}
.menu-bottom li:first-child  a{
	border: 0px;
}
footer .text{
	height: 100px;
	background-color: #ddd;
	text-align: center;
	line-height: 100px;
}

.online{
	background-image: url("../img/main-right-support-online.jpg");
	width: 100%;
	height: 120px;
	background-repeat: round;
}
.online ul{
	padding-top: 30px;
	padding-left: 40px;
}
.online ul li img{
	float: left;
	padding-right: 10px;
}
.online ul span{
	font-size: 15px;
}
.visited{
	background-image: url("../img/menu-right-static.jpg");
	background-repeat: round;
	height: 48px;
	width: 100%;
	padding-top: 2px;
	padding-left: 20px;
	margin-top: 10px;

}
.visited img{
	float: left;
	padding-right: 10px;
}

.advertise{
	background-image: url("../img/main-right-ads.jpg");
	background-repeat: round;
	height: 135px;
	width: 100%;
	padding-top: 40px;
	padding-left: 100px;
	margin-top: 10px;
	text-align: right;
}
.advertise span{
	font-size: 20px;
	color: white;
}
@media all and (max-width: 800px){
	.wrap{
		width:100%;
	}
	.header-text li{
		font-size: 20px;
	}

}
@media all and (max-width: 600px){
	.wrap{
		width:100%;
	}
	.header-text li{
		font-size: 17px;
	}

}
@media all and (max-width: 400px){
	.wrap{
		width:100%;
	}
	.header-text li{
		font-size: 14px;
	}

}
@media all and (max-width: 300px){
	.wrap{
		width:100%;
	}
	.header-text li{
		font-size: 12px;
	}

}