*{padding: 0px;
margin: 0px;
	font-size: 12px;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}
ul{
	list-style: none;
}


body{
	font-family: 'Nunito', sans-serif;

}

/*wrap body*/
.wrap-body{
	width: 1000px;
	margin: 0 auto;
}
/*header*/
header{
	background-image: url('../img/header-backg.jpg');
	height: 77px;
}

.header-logo{
	float: left;
	background-image: url('../img/header-logo.png');
	width: 15%;
	height: 77px;
	padding-top: 52px;
	padding-left: 9px;
	background-repeat: no-repeat;
	margin-left: 30px;
}	
.header-logo a{
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-shadow: 2px 0px white,-2px 0px white,0px -2px white,0px 2px white;
}




.header-text{
	float: left;
	width: 50%;
	text-align: center;
	padding-top: 10px;
}
.header-text h1{
	font-size: 30px;
	font-weight: bold;
	color: black;
	text-shadow: 2px 0px white,-2px 0px white,0px -2px white,0px 2px white;

}
.header-text h3{
	color: white;
	font-size: 17px;
}

.header-right{
	float: right;
	opacity: 0.8;
}
/*end header*/

/*menu-top*/
.menu-top{
	height: 24px;
	background-image: url('../img/menu-top-backg.jpg');
	margin-top: 2px;
}

.menu-top-left{
	width: 20%;
	float: left;
}
.menu-top-left p span{
	font-size: 13px;
	line-height: 24px;
}
.menu-top-right{
	text-align: center;
	width: 80%;
	float: left;

}
.menu-top-right li{
	display: inline;
	border-left: 1px solid #dd4e01;
	padding: 0 10px;
}
.menu-top-right li:first-child{
	border-left-width: 0px;
}
.menu-top-right ul li ul{
	
}
.menu-top-right ul a{
	font-size: 15px;
	color: #dd4e01;
}
/*end menu-top*/